.edit-pet input, .enter{
    display: block;
    margin-left: 50px;
    margin-bottom: 5px;
    padding: 5px;
}
button{
    margin-left: 50px; 
}
.custom{
    width: 40%;
    height: auto;
}
.change{
    display: inline-block;
    margin: 5px;
}