
<p *ngIf="errors">{{errors["message"]}}</p>

<a [routerLink]="['/']">Home</a>
<h2>Know of a pet needing a home?</h2>
<div class="custom form-group border border-dark rounded">
  <form class="new-pet" (submit)= "addPet()">
      Name: <input size="45" class="form-control-lg" type="text" name="newPet['name']" [(ngModel)]="newPet['name']" />
      Type: <input size="45" class="form-control-lg" type="text" name="newPet['type']" [(ngModel)]="newPet['type']" />
      Description: <input size="45" class="form-control-lg" type="text" name="newPet['description']" [(ngModel)]="newPet['description']" />
      Skills(optional): 
        <input size="45" class="form-control-lg" type="text" name="newPet['skill_one']" [(ngModel)]="newPet['skill_one']" />
        <input size="45" class="form-control-lg" type="text" name="newPet['skill_two']" [(ngModel)]="newPet['skill_two']" />
        <input size="45" class="form-control-lg" type="text" name="newPet['skill_three']" [(ngModel)]="newPet['skill_three']" />
      <input class="change enter btn btn-default color" type="submit" value="Submit">
      <button class="change btn btn-secondary" [routerLink]="['/']">Cancel</button>
    </form>
  </div>
